<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.going.grade.persistence.GradeMapper">

	<select id="listAll" resultType="org.going.grade.domain.GradeVO">
		select * from grademgmt order by customerbenefits
	</select>
	
	<insert id="insert">
		insert into grademgmt values (#{customerGrade}, #{customerBenefits})
	</insert>
</mapper>