<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.going.customer.persistence.CustomerMapper">

<!-- 로그인 -->
	<select id="login" resultType ="org.going.customer.domain.CustomerVo">
		select customerId, customerName from customer where customerId=#{customerId} and customerPass=#{customerPass}
	</select>

	<update id="keepLogin">
		update customer set sessionKey = #{sessionId}, sessionLimit =#{next} where customerId=#{customerId}
	</update>
	
	<select id="checkUserWithSessionKey" resultType="org.going.customer.domain.CustomerVo">
		select * from customer where sessionKey =#{value} and sessionlimit > now()
	</select>
	
	<select id="selectOne" resultType="String">
		select customerId from customer where customerId=#{customerId}
	</select>
	
	<insert id="create">
		insert into customer values (
		#{customerId},
		#{customerPass},
		#{customerName},
		#{customerBirthday},
		#{customerGender},
		
		#{customerEmail},
		#{customerPhonenum},
		#{customerAddresscode1},
		#{customerAddress1},
		#{customerAddress2},
		
		null,
		#{recommender},
		'basic',
		null,
		null)
	</insert>
	
	<select id="selectById" resultType ="org.going.customer.domain.CustomerVo">
		select CUSTOMERID,
			CUSTOMERNAME,
			CUSTOMERBIRTHDAY,
			CUSTOMERGENDER,
			CUSTOMEREMAIL,
			CUSTOMERPHONENUM,
			CUSTOMERADDRESSCODE1,
			CUSTOMERADDRESS1,
			CUSTOMERADDRESS2,
			CUSTOMERACCOUNT
		from customer where customerid=#{customerId}
	</select>
	
	<update id="updatePass">
		update customer set customerPass = #{customerPass} where customerid=#{customerId}
	</update>
	
	<update id="update">
		update
			customer
		set
			customerName=#{customerName}
			, customerEmail=#{customerEmail}
			, customerPhonenum=#{customerPhonenum}
			, customerAddresscode1=#{customerAddresscode1}
			, customeraddress1=#{customerAddress1}
			, customeraddress2=#{customerAddress2}
		where
			customerId=#{customerId}
	</update>
	
</mapper>
